img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

picture{
    height: 100vh;
  
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    background-image: linear-gradient(to right top,#fbcabb,#f9b0c3,#e3abce,#ceb6d9,#a2c8ec);  
}