html,body {
    background-color: var(--bg);
}

img.heros {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

picture{
    height: 100vh;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: brightness(80%);
    background-image: linear-gradient(to right top,#fbcabb,#f9b0c3,#e3abce,#ceb6d9,#a2c8ec);  
}

.disco-contraste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to top,rgba(22, 26, 29,0.5), rgba(255,0,0,0));  
}

.txt {
    color: var(--text);
    padding-top: 75vh; 
}

h1 {
    font-family: var(--title);
}

h2 {
    font-family: var(--regular);
}

header {
    height: 100vh;
    width: 100%;
}

.btnSavoir{
    color: var(--text);
    font-family: var(--regular);
    background-color: var(--primary);
    border: 0;
    padding: 7px 24px;
    border-radius: 8px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.album {
    padding-top: 20px;
    height: auto;
    width: 100%;
  }
  
.card-body {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}
.card-title {
    padding-bottom: 10px;
}
.card {
background-color: var(--bg);
}

.card-body > h1 {
    font-size: 25px;
    color: var(--secondary-alt);
}

.card-body > h2 {
    font-size: 20px;
    color: var(--secondary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body > .btnSavoir {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

h3{ 
    font-size: 50px;
    color: var(--text);
    font-family: var(--title);
    text-align: center;
    padding: 30px;
}

.section {
padding-top: 20px;
padding-bottom: 20px;
}



@media screen and (min-width: 576px){
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .album {
        padding-top: 0;

      }
}

.video{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

/**spritesheet**/

.contenant {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sprite {
    position: sticky;
    top: 50%;
    width: 24vw;
    height: 24vw;
    background-size: 100%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(30); 
}


.direction-down .sprite {
    background-image: url('https://i.imgur.com/LX2AEkm.png');
    animation: boy-idle 1.5s infinite steps(30);
}

.direction-down.is-scrolling .sprite {
    background-image: url('https://i.imgur.com/J4vsn10.png');
    animation: boy-forward 1.5s infinite steps(30);
}

.direction-up .sprite {
    background-image: url('https://i.imgur.com/LX2AEkm.png');
    animation: boy-idle 1.5s infinite steps(30);
}

.direction-up.is-scrolling .sprite {
    background-image: url('https://i.imgur.com/j9oizqN.png');
    animation: boy-idle 1.5s infinite steps(30);
}

@keyframes boy-idle {
    from { background-position: 0 0; }
    to { background-position: 0 -3000%; }
}

@keyframes boy-forward {
    from { background-position: 0 0; }
    to { background-position: 0 -3000%; }
}

@keyframes boy-backward {
    from { background-position: 0 0; }
    to { background-position: 0 -3000%; }
}