*{box-sizing: border-box;}

:root{
    --bg:#0f0f0f;
    --footer: #18181A;
    --text:#E9E4F0;
    --primary:#ef233c;
    --primary-alt:#d90429;
    --secondary:#E9E4F0;
    --secondary-alt:#C1C3D7;
    --title:'Abril Fatface', cursive;
    --regular:'Montserrat', sans-serif;
}
  
.heros{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

picture{
    position: absolute;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
}

.container-fluid{
    height: 100%;
}

img{
    height: 100%;
}

@media (orientation: landscape){
    .heros{
        height: 56.25%;
        width: 100%;
        }
}

.navbar{
    background-color: var(--primary-alt);
}

.footer {
    width: 100%;
}

.foot {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--footer);
    color: var(--text);
    font-family: var(--regular);
    width: 100%;
}

.foot .row {
width: 100%;
}

.link {
    text-decoration: none;
    color: var(--text);
}

.link:hover {
    color: var(--secondary-alt);
    cursor: pointer;
}

.nom_createur:hover{
    color: var(--secondary-alt);
    cursor: pointer;
}

.modal-title{
    color: var(--primary-alt);
    font-family: var(--title);
}

.modal-img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container {
    position: relative;
    height: 100%;
    width: 100%;
}
/* PARTIE 2 */


/* ANIMATION VRAI */

.box {
    display: flex;
    height: 450px;
    width: 450px;
    position: relative;
    transform: translateX(50%) translateY(-15%);
    justify-content: center;
    opacity: 1;
  
  }

  .box2 {
    display: flex;
    height: 450px;
    width: 450px;
    position: relative;
    transform: translateX(-75%) translateY(-15%);
    justify-content: center;
    opacity: 1;
  }
  
  

.animation-complet-vrai {
    height: 200px;
    width: 350px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    opacity: 0;
    z-index: 5;
  }
  
  .animation-txt-vrai {
    transform: translateY(-25%);
    z-index: 2;
  }
  
  .animation-txt-vrai > h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-family: var(--regular);
    font-size: 20px;
  }
  
  .animation-bonne {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .cercle-vrai {
    background-image: linear-gradient(to right top,#fbcabb,#f9b0c3,#e3abce,#ceb6d9,#a2c8ec);
    width: 200px;
    height: 200px;
    margin-left: 22%;
    margin-right: auto;
    display: block;
    position: absolute;
    border-radius: 40%;
   
  }
  
  .animations{
      display: flex;
      position: absolute;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: auto;
      z-index: -5;

  }
  
/* ANIMATION FAUSSE */

.animation-complet-fausse {
    height: 200px;
    width: 350px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    opacity: 0;
    z-index: 5;
  }
  
  .animation-txt-fausse {
    transform: translateY(-25%);
    z-index: 2;
  }
  
  .animation-txt-fausse > h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-family: var(--regular);
    font-size: 20px;
  }
  
  .animation-mauvaise {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;

  }
  
  .cercle-fausse {
    background-image: linear-gradient(to right top,#fbcabb,#f9b0c3,#e3abce,#ceb6d9,#a2c8ec);
    width: 200px;
    height: 200px;
    margin-left: 22%;
    margin-right: auto;
    display: block;
    position: absolute;
    border-radius: 40%;
  }


.modal-body{
    display: flex;
}


  /* QUIZ */

  .question {
    margin-bottom: 30px;
    display: none;
  }
  
  .is-visible {
    display: block;
  }
  

/* la fin de la feuille de style */

@import url("accueil.css");
@import url("discographie.css");