:root {
    --bg:#161A1D;
    --text:#E9E4F0;
    --primary:#ef233c;
    --primary-alt:#d90429;
    --secondary:#E9E4F0;
    --secondary-alt:#C1C3D7;
  }
*{box-sizing: border-box;}

.heros{
    height: 100%;
    width: auto;
    margin: 0;
    background-color: green;
}

picture{
    position: absolute;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
}


@media (orientation: landscape){
    .heros{
        height: 56.25%;
        width: auto;
        }
    }

/* la fin de la feuille de style */

@import url("accueil.css");
@import url("discographie.css");